.header__lang {
display: flex;
list-style: none;
padding: 0;
margin: 0;
margin-top: 18px;
}




@media screen and (max-width: 1279px) {
    .header__lang {
        /*Этот блок у нас будет отвечать за ширину 1279px - 1024px!*/
  
    } 
   }
   @media screen and (max-width: 1023px) {
    .header__lang {
       /*Этот блок у нас будет отвечать за ширину 1023px - 768px*/

    } 
   }
   @media screen and (max-width: 767px) {
    .header__lang {
       /*Этот блок у нас будет отвечать за ширину 767px - 320px*/
       margin-top: 11px;
    } 
   }