.intro__list{
font-size: 12px;
line-height: 18px;
/* or 150% */
list-style: none;
padding: 0;
margin: 0;
margin-top: 35px;
font-style: normal;
font-weight: 700;
}

@media screen and (max-width: 767px) {
    .intro__list {
        margin-top: 40px
    } 
   }