.lead__title {
max-width: 720px;
margin: 0 auto;
font-weight: 900;
font-size: 96px;
line-height: 100px;
text-align: center;
}

   @media screen and (max-width: 767px) {
   .lead__title {
       /*Этот блок у нас будет отвечать за ширину 767px - 320px*/
       max-width: 288px;
       font-size: 40px;
       line-height: 44px;
    } 
   }