.logo {
display: block;
width: 176px;
height: 52px;
background-image: url(../../images/header-logo.svg);
}

   @media screen and (max-width: 767px) {
    .logo  {
       /*Этот блок у нас будет отвечать за ширину 767px - 320px*/
       width: 142px;
       height: 42px;
    } 
   }