.place__paragraph {
    font-size: 18px;
    line-height: 163%;
    /* or 29px */
    align-self: start;
}

.place__paragraph p {
margin:0;
}
.place__paragraph p:nth-of-type(2) {
    margin-top:24px;
}

@media screen and (max-width: 767px) {
    .place__paragraph {
       /*Этот блок у нас будет отвечать за ширину 767px - 320px*/
       width: calc(100% - 16px*2);
       margin: 0 auto;
       font-size: 16px;
       line-height: 163%;
    } 
   }