.place__paragraph {
    font-size: 18px;
    line-height: 163%;
    align-self: start;
    margin:0;
}
.place__paragraph:nth-of-type(2) {
    margin-top:24px;
}

@media screen and (max-width: 1023px) {
    .place__paragraph {
        font-size: 16px;
    } 
}
@media screen and (max-width: 767px) {
    .place__paragraph {
        width: calc(100% - 16px*2);
        margin: 0 auto;
    } 
}