.lead__image {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 6.5%;
}

@media screen and (max-width: 1023px) {
    .lead__image {
      margin-top: 7.3%;
    } 
}
@media screen and (max-width: 767px) {
  .lead__image {
      margin-top: 12.5%;
  } 
}