.intro{
margin: 0 auto;
max-width: 984px;
margin-top: 8.2%;
}



@media screen and (max-width: 1279px) {
   .intro {
       /*Этот блок у нас будет отвечать за ширину 1279px - 1024px!*/
       padding-left: 4.7%;
       margin-top: 9.7%;
   } 
  }
  @media screen and (max-width: 1023px) {
   .intro {
      /*Этот блок у нас будет отвечать за ширину 1023px - 768px*/
      width: calc(100% - 24px*2);
      padding-left: 0;
      margin-top: 11.9%;
   } 
  }
@media screen and (max-width: 767px) {
    .intro {
       /*Этот блок у нас будет отвечать за ширину 767px - 320px*/
       width: calc(100% - 16px*2);
       margin-top: 20.9%
    } 
   }

