.cover {
width: 100%;
margin: 0 auto;
margin-top: 7.4%
}

@media screen and (max-width: 1279px) {
    .cover {
        /*Этот блок у нас будет отвечать за ширину 1279px - 1024px!*/
    margin-top: 8.7%;
    } 
   }
   @media screen and (max-width: 1023px) {
    .cover {
       /*Этот блок у нас будет отвечать за ширину 1023px - 768px*/
    margin-top: 11.9%;
    } 
   }
   @media screen and (max-width: 767px) {
    .cover {
        margin-top: 19.9%;
    } 
   }