.place {
    display: grid;
    grid-template-columns: 460px 1fr;
    gap: 48px 40px;
    margin-bottom: 9%;
}
.place:nth-of-type(2) {
    margin-bottom: 8%;
}
.place:nth-of-type(4) {
    margin-bottom: 7%;
}
.place:last-of-type{
    margin-bottom: 0;}

@media screen and (max-width: 1279px) {
    .place {
        /*Этот блок у нас будет отвечать за ширину 1279px - 1024px!*/
        grid-template-columns: 440px 1fr;
        gap: 48px 32px;
        margin-bottom: 8%;
    }
    .place:nth-of-type(2) {
        margin-bottom: 9%;
    }
    .place:nth-of-type(4) {
        margin-bottom: 9%;
    }
    .place:last-of-type{
        margin-bottom: 0;
   }
}
   @media screen and (max-width: 1023px) {
    .place {
       /*Этот блок у нас будет отвечать за ширину 1023px - 768px*/
       grid-template-columns: 340px 1fr;
       gap: 48px 28px;
       margin-bottom: 11%;
    }
    .place:nth-of-type(2) {
        margin-bottom: 10%;
    }
    .place:last-of-type {
        margin-bottom: 0;
   }
}
   @media screen and (max-width: 767px) {
    .place {
       /*Этот блок у нас будет отвечать за ширину 767px - 320px*/
       grid-template-columns: 1fr;
       row-gap: 32px;
       margin-bottom: 24%
    } 
    .place:nth-of-type(2) {
        margin-bottom: 16%;
    }
    .place:nth-of-type(3) {
        margin-bottom: 16%;
    }
    .place:nth-of-type(4) {
        margin-bottom: 24%;
    }
    .place:last-of-type{
        margin-bottom: 0;
    }
    }