.footer {
max-width: 1184px;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: space-between;
margin-top: 6.5%;
}


@media screen and (max-width: 1279px) {
    .footer {
        /*Этот блок у нас будет отвечать за ширину 1279px - 1024px!*/
  width: calc(100% - 48px*2);
  margin-top: 7.5%;
    } 
   }
   @media screen and (max-width: 1023px) {
    .footer {
       /*Этот блок у нас будет отвечать за ширину 1023px - 768px*/
       width: calc(100% - 24px*2);
       margin-top: 9.5%;
    } 
   }

@media screen and (max-width: 767px) {
    .footer {
        width: calc(100% - 16px*2);
        margin-top: 20.5%;
        display: flex;
        flex-direction: column;
        align-items: start;
    } 
   }